@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Jost;
    src: url(../assets/fonts/Jost/Jost-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Jost;
    src: url(../assets/fonts/Jost/Jost-Bold.ttf);
    font-weight: 700;
}

html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: black;
}
body {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

.menu-item-link:visited {
    color: #686565;
}

ul {
    list-style-type: none;
}

.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: none;
  }

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 30px;
    line-height: 45px;

}

.menu-item {
    list-style-type: none;
    color: #686565;
}

.menu-container {
    width: 50%;
}

.logo {
    font-family: Poppins;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #0E0578;
}

.front-page {
    display: flex;
    flex-basis: 500px;
    justify-content: space-around;
}

.front-part-subtitle {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Poppins;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #2000E7;
    width: 447px;
    height: 144px;
}

.front-part-title {
    margin-bottom: 0;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color:#2000E7;
}

.front-part-text {
    color: #383838;
    width: 616px;
}

.designer {
    color: #F2BD00;
}

.buttons {
    margin-top: 50px;
}

.blue-button {
    border: none;
    background-color: #2000E7;
    width: 246px;
    color: white;
    height: 72px;
    box-shadow: 11px 21px 15px 6px #00000040;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    margin-right: 50px; 
}

.white-button {
    width: 246px;
    height: 72px;
    color:#2000E7;
    border: 2px solid #2000E7;
    box-shadow: 11px 21px 15px 6px #00000040;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;    
}

.second-page {
    height: 1000px;
    display: flex;
    align-items: center;
}

.second-page-text {
    width: 415px;
}
.third-page {
    background-color: #FFD69633;
    display: flex;
    flex-direction: column;
    height: 910px;
}

.third-page-text-block {
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 50px;
    margin-left: 100px; 
    margin-right: 100px;
}

.third-page-title {
    family: Poppins;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.2em;
    color: #3B1FEA;
    margin-bottom: 0;
}

.third-page-text {
    margin-top: 0;
}

.project-item {
    width: 246px;
    height: 180px;
}

.fourth-page {
    height: 1316px;
}

.fourth-page-text-block {
    text-align: center;
}

.fourth-page-text {
    margin-top: 0;
}

.fourth-page-title {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.27em;
    color: #220BE8;
    margin-bottom: 0;
}

.contact-form {
    display: flex;
}

.forms {
    padding: 50px 30px;
}

.forms ::placeholder {
    color: black;
}

.form-input > * {
    display: block;
    width: 50%;
    margin-bottom: 50px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    color: black;
}
.contact-button {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    color: black;
    text-align: center;
    box-shadow: 13px 21px 4px 0px #00000040;
    width: 327px;
    height: 94px;
    border: none;
}

.form-input textarea, 
.form-input input {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 653px;
    height: 94px;
    box-shadow: 13px 21px 4px 0px #00000040;
    border: none;
}

.form-input textarea{
    width: 653px;
    height: 265px;
    resize: none;
}

.footer {
    height: 800;
    background-color: #FFD69633;
    font-family: Jost;
    font-size: 31px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    color: black; 
}

.footer-form input {
    box-sizing: border-box;
    width: 323px;
    height: 97px;
    border-radius: 30px;
    background-color: black;
    color: white;
    padding-left: 20px;
}

.footer-form > * {
    font-family: Jost;
    font-size: 31px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    border: none;
}

.footer-form ::placeholder {
    color:white;
}

.subscribe-button { 
    width: 178px;
    height: 97px;
    margin-left: -80px;
    border-radius: 30px;
    color: white;
    background-color: #F965FC;
}

.bold {
    font-family: Jost;
    font-weight: 700; 
}
.links {
    display: flex;
    justify-content: space-between;
}   

.footer ul a:visited{
    color: black;
}

.socials {
    display: flex;
    justify-content: space-between;
}
.socials-link {
    height: 96px;
    width: 96px;
}

.CopyRighted {
    font-family: Jost;
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
}

.social-link-container {
    display: flex;
    justify-content: end;
    gap: 30px;
    width: 50%;
}